__pycache__/
*.py[cod]

logs/*
!logs/.gitkeep

trajectories/*
!trajectories/.gitkeep

memory_agent/memory_data/*
!memory_agent/memory_data/.gitkeep
!memory_agent/memory_data/*.jsonl
!memory_agent/memory_data/trace_qwen_nocm_embedding/
!memory_agent/memory_data/trace_qwen_nocm_embedding/*.json
